.bp{
  
  /* border-width: 1px; */
  border-color: black;
  border-style: solid;
}

.board-position{
  min-height: 70px;
  background-color: rgb(250, 249, 231);
}

.xbp{
  min-height: 150px;
}

.purple{
  background-color:purple;
}
.sky{
  background-color:lightskyblue
}
.pink{
  background-color:pink;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.yellow{
  background-color: rgb(238, 238, 75);
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}

.property-set{
  min-width: 20%;
  color: white;
}